.header {
  font-family: 'Inter', sans-serif;
  background-color: #d6eac0;
  border-bottom: 1px solid #9db484;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 375px;
  padding: 18px 20px;
  margin: 0 auto;
}

.headermenu {
  display: flex;
  align-items: center;
  gap: 86.5px;
}

/* .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 36px;
}

.iconlogo {
  display: block;
  fill: #000;
} */

.toggle {
  display: flex;
  gap: 16px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: inherit;
  border: 1px solid #9db484;
  border-radius: 50%;
  cursor: pointer;
}

.iconMenu {
  display: block;
  fill: #000;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.iconClose {
  display: block;
  stroke: #000;
}

.basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #000;
  border-radius: 50%;
}

.iconBasket {
  display: block;
  fill: #fff;
}

.count {
  position: absolute;
  top: -1px;
  right: -3px;
  padding: 1px 3px;
  width: 11px;
  height: 12px;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  background-color: #b70000;
  border-radius: 50%;
}

.nav {
  display: none;
}

.navMobile {
  position: absolute;
  top: 72px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #d6eac0;
  border-bottom: 1px solid #9db484;
  z-index: 999;

  opacity: 0;
  transform: translateY(-10%);
  pointer-events: none;
  transition:
    opacity 300ms ease-out,
    transform 300ms ease-out;
}

.navMobile.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.listNavMobile {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 64px;
}

.linkNav {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.listNavAuth {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.listNavAuth li {
  width: 100%;
}

.navLinkLogin {
  display: block;
  width: 100%;
  max-width: 375px;
  height: 29px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding: 4px 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 100px;
}

.navLinkRegister {
  display: block;
  width: 100%;
  max-width: 375px;
  height: 29px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding: 4px 10px;
  background-color: #c5e1a5;
  border-radius: 100px;
}

.noScroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 18px 32px;
  }

  .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-right: 16px;
  }

  .menu {
    display: none;
  }

  .close {
    display: none;
  }

  .navMobile {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 86.5px;
  }

  .listNav {
    list-style-type: none;
    display: flex;
    gap: 32px;
  }

  .linkNav {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000;
  }

  .listAuth {
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
  }

  .navmobile {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 18px 64px;
  }

  .group {
    gap: 371px;
  }

  .nav {
    gap: 371px;
  }
}
