.container {
  font-family: 'Nunito Sans', sans-serif;
  max-width: 375px;
  margin: 0 auto;
  padding: 64px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.containerSend {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  font-size: 36px;
}

.title {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  font-size: 36px;
}

.btnSend {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  border: 1px solid #c5e1a5;
  border-radius: 100px;
  padding: 6px 12px;
  background-color: #c5e1a5;
}

.list {
  display: flex;
  width: 100%;
}

.swiper-slide {
  display: flex;
  height: auto;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.descContainer {
  display: flex;
  flex-direction: column;
}

.rating {
  display: flex;
  gap: 4px;
}

.star {
  width: 20px;
  height: 19px;
  fill: #000;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
}

.authorContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.author {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.containerBtnSend {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d6eac0;
  width: 100%;
  max-width: 335px;
  border-radius: 16px;
  padding: 24px 16px;
}

.notFeedback {
  font-family: 'Inter', sans-serif;

  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  width: 100%;
  margin-bottom: 16px;
}

/* .btnFeedback {
  width: 100%;
} */

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.navBtn {
  border: 1px solid #f9fcf6;
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #c5e1a5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
}

.disabled {
  background: #c5e1a5;
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 64px 32px;
    max-width: 768px;
  }

  .containerSend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .containerBtnSend {
    max-width: 704px;
  }

  .notFeedback {
    font-weight: 600;
  }

  .btnContainer {
    justify-content: end;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 112px 64px;
  }

  .title {
    font-size: 48px;
  }

  .descContainer {
    max-width: 416px;
  }
}
